@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.heading-ab{
    color: $accent;
    font-size: 1.4em;
    margin-left: 1em;
    text-align: left;
    @media (min-width: $layout-breakpoint-small) {
        margin-left: 1.5em;
    }
    @media (min-width: $layout-breakpoint-medium) {
        margin-left: 2em;
    }
    @media (min-width: $layout-breakpoint-large) {
        margin-left: 0.1em;
    }
}

.sub-heading-ab{
    color:  $accent-v2;
    font-weight: 100;
    text-align: left;
    margin-left: 0rem;
    margin-top: 0.8em;
    @media (min-width: $layout-breakpoint-xsmall) {
        font-size: 2em;
    }
    @media (min-width: $layout-breakpoint-xmedium) {
        font-size: 3em;
    }
    @media (min-width: $layout-breakpoint-nmedium) {
        font-size: 3.9em;
    }
    @media (min-width: $layout-breakpoint-medium) {
        font-size: 6em;
    }
}

.sub-heading-abcde{
    margin-left: 3rem;
    padding-right: 2rem;
    @media (min-width: $layout-breakpoint-xmedium) {
        margin-left: 5rem;

    padding-right: 0rem;
    }
    @media (min-width: $layout-breakpoint-medium) {
        margin-left: 5rem;
    }
}

.sub-h-span{
    display: flex;
    flex-direction: column;
}

.about-p{
    color: $text;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    font-size: 1.2em;
    margin-top: 2em;
    text-align: left;
    margin-left: 10%;
    margin-right: 20%;
    @media (min-width: $layout-breakpoint-xsmall) {
        font-size: 1.3em;
}
@media (min-width: $layout-breakpoint-xmedium) {
    font-size: 1.4em;
    line-height: 1.2;
}
@media (min-width: $layout-breakpoint-medium) {
    font-size: 1.9em;
}
}

.center{
    text-align: center;
}

.img-about{
    height: auto;
    text-align: left;
    width: 70%;
    margin-left: 10%;
    margin-right: 20%;
    padding-bottom: 9em;
    @media (min-width: $layout-breakpoint-xmedium) {
        padding-bottom: 15em;
    }
}




