@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.heading-ab{
    color: $accent;
    font-size: 1.4em;
    margin-left: 0.1em;
    text-align: left;
    margin-top: 6em;
}

.sub-heading-ab{
    color:  $accent-v2;
    font-size: 7.6em;
    font-weight: 100;
    text-align: left;
    margin-left: 5rem;
    margin-top: 0.8em;
}

.sub-h-span{
    display: flex;
    flex-direction: column;
}

.about-p{
    color: $text;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    font-size: 1.9em;
    margin-top: 2em;
    text-align: left;
    margin-left: 10%;
    margin-right: 20%;
    line-height: 1.6;
}

.center{
    text-align: center;
}

.img-about{
    height: auto;
    text-align: left;
    width: 70%;
    margin-left: 10%;
    margin-right: 20%;
    padding-bottom: 50em;
}