.heading {
    margin-top: 1em;
    font-size:10vw;
    @media (max-width: 2460px) {
        padding-left: 20%;
      }
}
.heading-a{
    font-size:10vw;
    margin-top: -2rem;
    @media (min-width: 150px) {
        padding-left: 65%;
      }
}