.grid1 {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    padding-left: 2%;
    padding-right: 2%;
  }
  .main1 {
    background: transparent;
  }
  .side1 {
    background: transparent;
  }
  .main1,
  .side1 {
    padding: 2%;
    border-radius: 10px
  }
  
  @media(max-width: 400px){
    .grid1 {
      grid-template-columns: 1fr;
    }
  }

  ::placeholder{
      color: $text;
  }

.container4 {
  height: auto;
  width: 90%;
  font-family: 'Cabin', sans-serif;
  margin: 0 auto;
  margin-top: 40px;
  display: block;
  background: transparent;
  padding: 20px;
  border-radius: 15px;
}

form {
  padding: 0;
  width: 90%;
  border-radius: 15px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.feedback-input1 {
background-color: transparent;
  color: $accent;
  font-family: 'Cabin', sans-serif;
  font-weight: 400;
  font-size: 18px;
  border-radius: 0;
  margin-right: 0;
  line-height: 22px;
  background-color: none;
  padding: 13px 13px 13px 13px;
  margin-bottom: 10px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 2px solid $accent;
  border-top: none;
  border-left: none;
  border-right: none;
}

.feedback-input1:focus {
  box-shadow: 0;
  color: $accent;
  transition: .4s ease;
  outline: none;
  border-bottom: 2px solid $accent-v2;
  padding: 13px 13px 13px 13px;
}


textarea {
  width: 100%;
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

#button-kontakt {
  font-family: 'Cabin', sans-serif;
  border-radius: 100px;
  font-weight: 200;
  width: 150px;
  border: none;
  cursor: pointer;
  background-color: $accent;
  color: white;
  font-size: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: -4px;
  font-weight: 700;
  transition: .3s ease;
  float: right;
  margin-bottom: 50px;
}

.google-maps{
    margin-top: 50px;
    width: 100%;
    height: 25em; 
    border:0;
    margin: 0 auto;
}

#button-kontakt:hover {
  background-color: $accent-v2;
  color: $text;
  background: $accent-v2;
}

.submit:hover {
  color: $accent;
}