.sub-heading-abc{
    margin-top: 2rem;
    text-align: center;
font-size: 4.5em;
padding-top: 1.2em;
}

.sub-h-span2{
    text-decoration: underline $accent;
}

.ninenine{
    margin-top: 40px;
    font-size: 50px;
}

.pp{
    line-height: 0;
    color: #C4C4C4;
}

.flexing{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-other{
    display: flex;
    flex-direction: column;
}

.nam1{
    margin-right: 30px;
    margin-left: 30px;
}

.nam2{
    margin-right: 30px;
    margin-left: 30px;
}

.nam3{
    margin-right: 30px;
    margin-left: 30px;
}

.centering{
    text-align: center;
    align-items: center;
}