.sub-heading-abc{
    margin-top: 2rem;
    text-align: center;
    padding-top: 0em;
    font-size: 2em;
               

    @media (min-width: $layout-breakpoint-xmedium) {
        padding-top: 1.3em;
        font-size: 2.9em;
        
    }
    @media (min-width: $layout-breakpoint-medium) {
        font-size: 4.5em;
        
    }
    @media (min-width: $layout-breakpoint-large) {
        font-size: 4.5em;
    }
}


.sub-h-span2{
    text-decoration: underline $accent;
}

.ninenine{
    margin-top: 40px;
    font-size: 50px;
}

.pp{
    line-height: 0;
    color: #C4C4C4;
}

.flexing{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
        
    @media (min-width: $layout-breakpoint-xsmall) {
        flex-direction: column;
    }
    @media (min-width: $layout-breakpoint-xmedium) {
        flex-direction: row;
    }
    @media (min-width: $layout-breakpoint-large) {
        flex-direction: row;
    }
}

.flex-other{
    display: flex;
    flex-direction: column;
}

.nam1{
    margin-right: 30px;
    margin-left: 30px;
}

.nam2{
    margin-right: 30px;
    margin-left: 30px;
}

.nam3{
    margin-right: 30px;
    margin-left: 30px;
}

.centering{
    text-align: center;
    align-items: center;
}