.margin-love{
    margin-bottom: 15em;
}

.loveit{
    display: flex;
    flex-direction: column;

@media (min-width: $layout-breakpoint-xmedium) {
    flex-direction: row;
}

}



.message{
    background: linear-gradient(0.20turn,#5641f8ab, $accent);
    width: 16rem;
    border-radius: 11px;
    font-size: 1.3rem;
    padding: 15px 30px 15px 30px;
    margin-right: 20px;
    font-size: medium;
    @media (min-width: $layout-breakpoint-xmedium) {
        width: 20rem;
        padding: 20px 35px 20px 35px;
        font-size: large;
    }
}

.message1{
    margin-right: 50px;
}


.love-p{
    color: $text;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    font-size: 1.2em;
    margin-top: 2em;
    text-align: left;
    margin-left: 10%;
    margin-right: 20%;
    @media (min-width: $layout-breakpoint-xsmall) {
        font-size: 1.3em;
}
@media (min-width: $layout-breakpoint-xmedium) {
    font-size: 1.4em;
    line-height: 1.4;
}
@media (min-width: $layout-breakpoint-medium) {
    font-size: 1.7em;
}
}

.margin-love{
    margin-bottom: 15em;
}