@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.font{
    font-family: 'Inter', sans-serif;
}

.overall-div-process{
    display: flex;
    flex-direction: row;
    text-align: center;
}

.div-1{
    text-align: right;
    padding-right: 10px;
}

.number-pro{
    color: $accent-v2;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: $accent-v2;
    font-size: 6em;
    margin: 0;
}

.title-pro{
    margin: 0;
    color: $accent-v2;
}

.div-1 p{
    padding-left: 50%;
    font-weight: 200;
    font-size: 1em;
    }

    

.img-p{
    width: 300px;
    padding-left: 10px;

}

