.rec-arrow {
    display: none;
}

.rec-pagination {
    background-color: aqua;
    width: 80%;
}

.rec-dot {
    display: flex;
    margin: 0;
    width: 16.666666667%;
    max-width: 100%;
    border-radius: 0;
}